body{
    margin:0;
    padding:0;
    font-family:'Comic Sans MS', cursive;
    background:linear-gradient(to bottom, #80deea, #ffffff);
    text-align:center;
}

.contenedor{
    padding:20px;
}

h1{
    color:#006064;
    font-size:45px;
    margin-bottom:10px;
}

.subtitulo{
    font-size:22px;
    color:#333;
    margin-bottom:20px;
}

.imagenes img{
    width:80px;
    margin:10px;
}

.puntaje{
    font-size:30px;
    color:#008000;
    font-weight:bold;
    margin:20px;
}

.grid{
    display:grid;
    grid-template-columns:repeat(5, 100px);
    justify-content:center;
    gap:5px;
    margin-top:30px;
}

.celda{
    width:100px;
    height:100px;
    background:white;
    border:3px solid black;
    display:flex;
    justify-content:center;
    align-items:center;
    font-size:34px;
    font-weight:bold;
}

.dropzone{
    width:100px;
    height:100px;
    background:#fff8dc;
    border:3px dashed #ff6600;
    display:flex;
    justify-content:center;
    align-items:center;
    font-size:34px;
    font-weight:bold;
}

.numeros-container{
    margin-top:40px;
}

.numero{
    width:90px;
    height:90px;
    background:#aed581;
    border:3px solid #558b2f;
    border-radius:15px;
    display:inline-flex;
    justify-content:center;
    align-items:center;
    font-size:34px;
    font-weight:bold;
    margin:10px;
    cursor:grab;
    transition:0.3s;
}

.numero:hover{
    transform:scale(1.1);
}

.botones{
    margin-top:30px;
}

button{
    padding:15px 25px;
    margin:10px;
    border:none;
    border-radius:15px;
    font-size:20px;
    cursor:pointer;
    font-family:'Comic Sans MS';
    transition:0.3s;
}

button:hover{
    transform:scale(1.05);
}

#verificar{
    background:#28a745;
    color:white;
}

#reiniciar{
    background:#dc3545;
    color:white;
}

#siguiente{
    background:#007bff;
    color:white;
}

.correcto{
    background:#90ee90 !important;
}

.incorrecto{
    background:#ff8a80 !important;
}